@page "/Articulos/Index"
@rendermode InteractiveServer
@inject ArticulosService articuloService
@inject NavigationManager navigation

<PageTitle>Art&Iacute;culos Index</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        @*Header*@
        <div class="card-header text-white text-center">
            <div class="bg-primary rounded">
                <h1>Registro de art&iacute;culos</h1>
            </div>
        </div>
        @*Body*@
        <div class="card-body">
            <div class="row mb-3 align-items-end">
                @*Filtro*@
                <div class="col-md-2">
                    <label for="Filtro" class="form-label">Filtrar por:</label>
                    <select @bind="filtro" class="form-select">
                        <option value="id">ID</option>
                    </select>
                </div>
                @*Busqueda*@
                <div class="col-md-5">
                    <label for="ValorFiltro" class="form-label">B&uacute;squeda:</label>
                    <div class="input-group">
                        <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                            <span class="bi bi-search"></span> Buscar
                        </button>
                    </div>
                </div>
                @*Restablecer Tabla*@
                <div class="col-md-2">
                    <button class="btn btn-outline-dark bi bi-arrow-clockwise" type="button" @onclick="OnInitializedAsync"> Todos</button>
                </div>
                @*Crear*@
                <div class="col-md-3 text-end">
                    <button class="btn btn-success bi bi-person-fill-add" type="button" @onclick="Crear"> Crear</button>
                </div>
            </div>
            @*Tabla*@
            <table class="table table-bordered">
                <thead class="bg-primary text-center text-white">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripci&oacute;n</th>
                        <th>Costo</th>
                        <th>Ganancia</th>
                        <th>Precio</th>
                        <th>Visualizar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var articulo in ListaArticulos)
                    {
                        <tr class="text-center">
                            <td>@articulo.ArticulosId </td>
                            <td>@articulo.Descripcion</td>
                            <td>@articulo.Costo.ToString("N2")</td>
                            <td>@articulo.Ganancia.ToString("N2")</td>
                            <td>@articulo.Precio.ToString("N2")</td>
                            <td><button type="button" class="btn btn-outline-info bi bi-eye" @onclick="()=>Visualizar(articulo.ArticulosId )"></button></td>
                            <td><button type="button" class="btn btn-outline-warning bi bi-pencil-square" @onclick="()=>Editar(articulo.ArticulosId)"></button></td>
                            <td><button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="()=>Eliminar(articulo.ArticulosId)"></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p>Total de Art&iacute;culos: @ListaArticulos.Count()</p>
        </div>
    </div>
</div>

@code {
    public List<Articulos> ListaArticulos = new List<Articulos>();
    private string filtro = "";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaArticulos = await articuloService.Listar(e => true);
        filtro = "";
        valorFiltro = "";
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int articuloId))
            {
                ListaArticulos = await articuloService.Listar(t => t.ArticulosId == articuloId);
            }
        }
        else
        {
            ListaArticulos = await articuloService.Listar(p => true);
        }
    }

    public void Crear()
    {
        navigation.NavigateTo("/Articulo/Crear");
    }

    public void Visualizar(int id)
    {
        navigation.NavigateTo($"/Articulo/Visualizar/articuloId={id}");
    }

    public void Editar(int id)
    {
        navigation.NavigateTo($"/Articulo/Editar/articuloId={id}");
    }

    public void Eliminar(int id)
    {
        navigation.NavigateTo($"/Articulo/Eliminar/articuloId={id}");
    }
}
